<div id="tab-tos">
  <div class="tabs">
    <button class="tab-button active" data-tab="fr">Français</button>
    <button class="tab-button" data-tab="en">English</button>
  </div>

  <div class="tab-content active" data-tab="fr">
    {{{siteSettings.tos_content_fr}}}
  </div>

  <div class="tab-content" data-tab="en">
    {{{siteSettings.tos_content_en}}}
  </div>
</div>