#tab-tos {
  .tabs {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;

    .tab-button {
      padding: 0.5em 1em;
      cursor: pointer;
      background: #eee;
      border: none;

      &.active {
        background: #ccc;
      }
    }
  }

  .tab-content {
    display: none;

    &.active {
      display: block;
    }
  }
}