.custom-tos-tabs {
  .tab-tos {
    display: flex;
    margin-bottom: 1em;
    .tablink {
      background: #eee;
      border: 1px solid #ccc;
      padding: 0.5em 1em;
      cursor: pointer;
      margin-right: 0.5em;
      &.active {
        background: #ddd;
        font-weight: bold;
      }
    }
  }
  .tabcontent {
    display: none;
    &.active {
      display: block;
    }
  }
}